/* -------- GLOBAL -------- */
body {
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    font-family: "Inter", sans-serif;
}

/* -------- HEADER -------- */
.Header {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    font-weight: 700;
    color: #333;
}


.chat-title:hover {
    background: #e4e4e4;
}

/* -------- MAIN PAGE = shifted right because sidebar exists -------- */
.AiBox {
    margin-left: 300px !important;
    padding: 25px;
}

/* -------- CHAT BOX -------- */
.ChatBox {
    background: white;
    width: 90%;
    min-height: 300px;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid #dcdcdc;
    overflow-y: auto;
    color: #333;
    margin-bottom: 20px;
}

/* -------- INPUT BOX (textarea + send button INSIDE) -------- */
.InputBox {
    width: 90%;
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    gap: 10px;
}

.TextArea {
    flex: 1; /* big width */
    height: 70px;
    border: none;
    outline: none;
    resize: none;
    font-size: 15px;
    padding: 10px;
}

/* SEND BUTTON INSIDE THE BOX */
.InputBox button {
    padding: 10px 18px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    white-space: nowrap;
}

.InputBox button:hover {
    background: #2563eb;
}

/* FILE INPUT */
#fileInput {
    margin: 15px 0;
    padding: 10px;
    background-color: #2563eb;
    color:white;
}
