.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.loginBox{
    border: 2px solid #073cad;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(85, 61, 61, 0.90);
}
.loginBox h1{
    text-align: center;
    margin-bottom: 30px;
    color: #073cad;
}
.loginBox label{
    font-weight: bold;
    font-size: 18px;
}
.loginBox input{
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
#LoginButton{
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #4f46e5, #06b6d4);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    gap: 10px;
}
#GoogleButton{
    width: 100%;
    padding: 10px;
    background: #de8484;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
}
#forgot{
    display: block;
    text-align: right;
    margin-top: 10px;
    color: #073cad;
    cursor: pointer;
}